[project]
	description = Generate a list of licenses used within a project based on bower.json.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rafał Warzycha (senssei)
[access "refs/for/refs/*"]
	read = group user/Rafał Warzycha (senssei)
	push = group user/Rafał Warzycha (senssei)
	label-Code-Review = -2..+2 group user/Rafał Warzycha (senssei)
	label-Verified = -1..+1 group user/Rafał Warzycha (senssei)
	rebase = group user/Rafał Warzycha (senssei)
	removeReviewer = group user/Rafał Warzycha (senssei)
	submit = group user/Rafał Warzycha (senssei)
[access "refs/heads/*"]
	read = group user/Rafał Warzycha (senssei)
	create = group user/Rafał Warzycha (senssei)
	push = +force group user/Rafał Warzycha (senssei)
	pushMerge = group user/Rafał Warzycha (senssei)
[access "refs/tags/*"]
	push = +force group user/Rafał Warzycha (senssei)
	pushTag = group user/Rafał Warzycha (senssei)
	pushSignedTag = group user/Rafał Warzycha (senssei)
